<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container"> 
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="tect-black">Siga-nos nas redes sociais</h4>



            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                   <li>
                       <a href="https://pt-br.facebook.com/" targete="_blank"
                       class="icoFacebook">
                       <i class="fa-brands fa-facebook"></i>
                    </a>
                   </li>

                   <li>
                    <a href="https://www.instagram.com/" targete="_blank"
                    class="icoInstagram">
                    <i class="fa-brands fa-instagram"></i>
                 </a>
                </li>

                </ul>

            </div class="footer-copyright bg-dark text-center py-3">
                <span class="text-light"> Todos os direitos reservados: OndaApp    </span>


        </div>

    </div>

<div>

</div>

</footer>
