<!-- Menu -->
<app-menu></app-menu>

<div data-spy="scroll" data-target="#nav-bar-menu" data-offset="0">


    <!-- Chamada e login -->
    <div style="background-color: #148D95;">
        <div class="container roboto ">


            <div class="row mt-5  d-flex justify-content-center" style="font-size: 200px; color: #FFEF61;">
                SEJA A
            </div>
            <div class="row m-0  d-flex justify-content-center" style="font-size: 200px; color: #FFEF61;">
                DIFERENÇA
            </div>

            <div class="row d-flex justify-content-center text-center pb-5" style="color: #FFFBDC;">
                <h5>
                    Onda é a forma como a luz se desloca. É um movimento que reverbera e se espalha em escala cada vez
                    maior, assim como a mudança que queremos ver no mundo. Através do coletivo, acreditamos em um
                    impacto muito maior no comportamento das empresas que consumimos e isso é a Onda: um lugar onde você
                    faz avaliações sobre condutas ambientais das marcas que consome para que, juntes, sejamos a
                    diferença que queremos ver no mundo.
                </h5>
            </div>

            <div class="row d-flex justify-content-center ">

                <div class="col-md-4 button-1" routerLink="/cadastrar">
                    FAÇA PARTE DESTA ONDA!
                </div>
            </div>

        </div>
        <div class="custom-shape-divider-bottom-1646941051">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <!-- /Chamada e login -->

    <!-- <div class="spacer"></div> -->



    <!-- Apresentação de ODS -->
    <div class="container-fluid roboto" style="color: #148D95;">
        <div style="background-color: #FFFBDC;">

            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-8 text-center">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="row pt-5 pb-5  d-flex justify-content-center" id="ODS"
                                style="font-size: 100px; color: #148D95;">
                                CONCEPÇÃO DO PROJETO
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h5 class="pb-3">
                                A ONU e seus parceiros no Brasil trabalham para atingir os Objetivos de Desenvolvimento
                                Sustentável em suas cadeias de produção. Dentre esses objetivos, a Onda está em diálogo
                                direto com a ODS7, que busca incentivar o uso e o acesso amplo a fontes de energia
                                sustentável.
                            </h5>
                            <h5 class="pb-3">
                                Entendemos a importância de estarmos em diálogo também com questões mais amplas,
                                relativas à
                                outras diretrizes que buscam um desenvolvimento ambientalmente mais sustentável para que
                                possamos viver de maneira mais pacífica e com acesso a recursos mínimos para manutenção
                                da
                                vida e do Planeta.
                            </h5>
                            <h5 class="pb-3">
                                Se você acredita que juntes podemos fazer do mundo um lugar melhor para todes os seres,
                                venha colaborar com essa onda que começa com compartilhar suas avaliações das empresas
                                que
                                estão no seu dia a dia.
                            </h5>
                        </div>






                    </div>
                </div>
            </div>
            <div class="custom-shape-divider-bottom-1646941359">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                        opacity=".25" class="shape-fill"></path>
                    <path
                        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                        opacity=".5" class="shape-fill"></path>
                    <path
                        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                        class="shape-fill"></path>
                </svg>
            </div>
        </div>

    </div>
    <!-- /Apresentação de ODS -->

    <!-- Empresas -->
    <div style="background-color: #148D95;">
        <div class="container roboto pb-5">

            <div class="container roboto  ">
                <div class="row pt-5  d-flex justify-content-center" id="empresas"
                    style="font-size: 100px; color: #FFEF61;">
                    EMPRESAS
                </div>
            </div>
            <div class="row d-flex justify-content-center text-center pb-5" style="color: #FFFBDC;">
                <h5>
                    Veja algumas das empresas avaliadas dentro da ONDA!
                </h5>
            </div>

            <div class="row pb-5">
                <div class="col-md-12">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-4 ">
                            <div class="button-2 ">
                                <img src="https://i.imgur.com/wvKqyka.png" height="100px" alt="">
                                <h2 class="mt-4 mb-3 ">Nestlé</h2>
                                <h5 style="color: rgb(83, 83, 83);">
                                    "Importantíssima a ideia deles sobre “medidas extraordinárias” para inserir os
                                    direitos humanos em suas políticas de gestão de fornecedores, bem como por sua
                                    liderança em saúde e nutrição. Desde 2020 vem mantendo a meta ambiciosa de zerar o
                                    envio de resíduos para disposição. Apoio essa causa, vamos de Nestlé!"
                                </h5>
                                <small style="font-size: 14px;">Publicado por: Thaís Santiago</small>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="button-2">
                                <img src="https://i.imgur.com/JQuue1Z.png" height="100px" class="pt-3" alt="">
                                <h2 class="mt-4 mb-3">Unilever</h2>
                                <h5 class="pb-4" style="color: rgb(83, 83, 83);">
                                    "Não pude deixar de parabenizar a registrar a empresa Unilever devido sua honra e
                                    compromisso com a qualidade e a responsabilidade ambiental. A empresa é super
                                    transparente, tenho tudo o que preciso no site além dos incentivos sobre reduções e
                                    desperdícios... Minha nota é 1000!"
                                </h5>
                                <small style="font-size: 14px;">Publicado por: Lucas Christovão</small>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="button-2">
                                <img src="https://i.imgur.com/JLfX7aS.png" width="100%" height="100px" alt="">
                                <h2 class="mt-4 mb-3">Schneider</h2>
                                <h5 style="color: rgb(83, 83, 83);">
                                    "Super legal a forma como a empresa se mostra como a melhor do mundo sobre
                                    sustentabilidade e responsabilidade com o meio ambiente; Basta entrar no site para
                                    se deparar com várias informações sobre o posicionamento da empresa perante o meio
                                    ambiente, recomendada."
                                </h5>
                                <small style="font-size: 14px;">Publicado por: Joaquim Alves</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1646941051">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <!-- /Empresas -->

    <!-- Equipe -->
    <div style="background-color: #FFFBDC;">
        <div class="container roboto">

            <div class="container roboto  ">
                <div id="equipe" class="row pt-5  d-flex justify-content-center"
                    style="font-size: 100px; color: #148D95;">
                    EQUIPE
                </div>
            </div>
            <div class="row d-flex justify-content-center text-center pb-5" style="color: #148D95;">
                <h5>
                    Conheça nossa equipe de Devs. Web Full-Stack Junior.
                </h5>
            </div>

            <div class="row pb-5">
                <div class="col-md-12" style="color: #148D95;">
                    <div class="row d-flex justify-content-between text-center">
                        <div class="col-md-4">

                            <img src="https://i.imgur.com/M0g8Gis.png" height="400px" alt="">
                            <h2 class="mt-4 mb-3">Joaquim Alves</h2>
                            <h5>
                                Trans masculino, 24 anos e "librianjo".
                                Residente na região metropolitana de São Paulo.
                                Ciclista e cicloativista, amante dos esportes.
                            </h5>

                        </div>

                        <div class="col-md-4">

                            <img src="https://i.imgur.com/YAsVRTR.png" height="400px" alt="">
                            <h2 class="mt-4 mb-3">Isabô Saldanha</h2>
                            <h5>
                                Não binárie, sapatão e artista visual - seus pronomes são elu/delu. Pesquisa o digital e
                                as relações nele estabelecidas e é apaixonade por programar e as possibilidades de
                                ocupação do mercado com linhas de código mais inclusivas.
                            </h5>

                        </div>

                        <div class="col-md-4">

                            <img src="https://i.imgur.com/B1pVyXA.png" height="400px" alt="">
                            <h2 class="mt-4 mb-3">Lilian Carolina</h2>
                            <h5>
                                Residente em São Paulo Capital, alegre, paciente, organizada e perseverante.
                                Quero convida-los a colaborar conosco na nossa rede Onda, onde iremos proporcionar um
                                relacionamento ativo com as empresas e divulgação de informações.

                            </h5>

                        </div>

                        <div class="row d-flex justify-content-between text-center mt-5">
                            <div class="col-md-4">

                                <img src="https://i.imgur.com/4pFATL0.png" height="400px" alt="">
                                <h2 class="mt-4 mb-3">Lucas Christovão</h2>
                                <h5>
                                    Entusiasta, ama estar em constante evolução e é impulsionado por adrenalina e
                                    esportes radicais. Apaixonado por tecnologia e gestão de pessoas, acredita que a
                                    tecnologia é a chave para um futuro melhor e deseja fazer parte desse
                                    desenvolvimento.
                                </h5>

                            </div>

                            <div class="col-md-4">

                                <img src="https://i.imgur.com/xon9i37.png" height="400px" alt="">
                                <h2 class="mt-4 mb-3">Murilo Perdigão</h2>
                                <h5>
                                    "Gaymer" de 27 anos apaixonado por artes e tecnologia. Acredita que o futuro se faz
                                    coletivamente e a tecnologia tem papel fundamental nessa mudança
                                </h5>

                            </div>

                            <div class="col-md-4">

                                <img src="https://i.imgur.com/cPcb2ge.png" height="400px" alt="">
                                <h2 class="mt-4 mb-3">Thais Santiago</h2>
                                <h5>
                                    Nova desenvolvedora aos 25 anos, curiosa e motivada, em uma nova fase de descoberta
                                    com a tecnologia. Acredita que com o conhecimento e altruismo com base em toda sua
                                    trajetória remetem a resultados excelentes e maiores expectativas.
                                </h5>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="custom-shape-divider-bottom-1646941359">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <!-- /Equipe -->

    <!-- Fale conosco -->
    <div style="background-color: #148D95;">
        <div class="container roboto pb-5">
            <div id="faleconosco" class="row pt-5  d-flex justify-content-center"
                style="font-size: 100px; color: #FFEF61;">
                FALE CONOSCO
            </div>
            <div class="row d-flex justify-content-center text-center pb-5" style="color: #FFFBDC;">
                <h5>
                    Ficou com alguma dúvida? Tem alguma sugestão? Ou deseja só falar um "oi" pra gente? Escreve aqui
                    embaixo!
                </h5>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-4 p-3 button-2-1">


                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="button-3" name="nome" id="nome" placeholder="Informe seu nome">
                    </div>

                    <div class="form-group">
                        <label for="numero">Número com Whatsapp</label>
                        <input type="number" class="button-3" name="numero" id="numero"
                            placeholder="Informe seu telefone com DDD">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="button-3" name="email" id="email" placeholder="Informe seu e-mail">
                    </div>

                    <div class="form-group">
                        <label for="mensagem">Sua mensagem</label>
                        <textarea type="text" rows="4" class="button-3" name="mensagem" id="mensagem"
                            placeholder="Escreva aqui sua mensagem"></textarea>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="button-1">Encaminhar</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1646941051">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>

</div>
<!-- /Fale conosco -->

<!-- Footer -->
<app-footer2></app-footer2>