<div style="background-color: #FFFBDC;height: 100vh;">
    <div class="container roboto pt-5">

        <div class="container roboto  ">
            <div class="row pt-5 d-flex justify-content-center" id="empresas" style="font-size: 100px; color: #148D95;">
                EDIÇÃO DE TEMAS
            </div>
        </div>
        <div class="row d-flex justify-content-center text-center pb-3" style="color: #148D95;">
            <h5>
                Edite temas já cadastrados. </h5>
        </div>

        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-3">

                <div class="form-group text-center">
                    <label for="titulo" style="color: #148D95;">
                        Novo título
                    </label>
                    <input type="text" class="button-3" name="" id="titulo" [(ngModel)]="tema.titulo">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-1 mb-5">
            <div class="col-md-5">
                <div class="form-group text-center">
                    <label for="descricao" style="color: #148D95;"> Nova descrição
                    </label>
                    <textarea type="text" class="button-3" style="width: 100%;" name="" id="descricao"
                        [(ngModel)]="tema.descricao" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center pb-2">
            <button class="button-1 mr-1" routerLink="/tema">Cancelar</button>
            <button class="button-1 ml-1" (click)='atualizar()'>Atualizar</button>
        </div>

    </div>



</div>