<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Fale Conosco!</title>
  </head>
  <body>
    
    <h1>Fale Conosco!</h1>
    <p>Contamos com você nessa revolução e por favor, conte com nossa equipe para 
        qualquer dúvida ou sugestões.</p>
       

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

<!--Formulário-->
 
                <div class="container">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <form>           
                            <div class="form-group">
                                <label for="exampleInputNome">Como se chama?</label>
                                <input type="nome" class="form-control" id="exampleInputNome1"  placeholder="Seu nome">
                             </div>
            
                            <div class="form-group">
                              <label for="exampleInputEmail">Insira seu email:</label>
                              <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Seu email">
                              <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                            </div>
            
                            <div class="form-group">
                              <label for="exampleInputTelefone">WhatsApp/Telefone:</label>
                              <input type="whatsTelefone" class="form-control" id="exampleInputTelefone" placeholder="WhatsApp ou Telefone com DDD">
                            </div>
            
            
            
            
                          
                            <div class="form-group">
                                <label for="exampleInputAssuntoDuvidas"> Selecione o assunto:</label>
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Assunto
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Dúvidas</a>
                                      <a class="dropdown-item" href="#">Sugestões</a>
                                      <a class="dropdown-item" href="#">Mais projetos</a>
                                    </div>
                                  </div>
                                  <br>
                                <textarea name="selecioneAssunto" id="assunto" cols="60" rows="5"></textarea>
                            </div>
                                       
                            <button type="submit" class="btn btn-success">Envie!</button>
                          </form>
                   
            <!--Formulário-->


                </div>
                
    </div>
  </div>
</html>