<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-4 p-3" style="background-color: #FFFBDC;border-radius: 15px;">
          <h1 class="text-center">Fale Conosco</h1>

          <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" name="nome" id="nome" placeholder="Informe seu nome">
          </div>

          <div class="form-group">
              <label for="numero">Número com Whatsapp</label>
              <input type="number" class="form-control" name="numero" id="numero" placeholder="Informe seu telefone com DDD">
          </div>

          <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Informe seu e-mail">
          </div>

          <div class="form-group">
              <label for="mensagem">Sua mensagem</label>
              <input type="text" class="form-control" style="height:100%;" name="mensagem" id="mensagem"
                  placeholder="Escreva aqui sua mensagem">
          </div>

          <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-danger mr-4" routerLink="/entrar">Cancelar</button>
              <button type="submit" class="btn btn-success ml-4">Entrar</button>
          </div>

      </div>
  </div>
</div>