/*Estilos da página Fale Conosco!*/

.alinharformulario{

    width: 50px;
    position: absolute;
    left: 50;
    top: 50;
}

.container{

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}