<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="#">OND4PP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex aligin-items-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">Bem Vinde <span class="sr-only"></span></a>
            </li>
            <li class="nav-item pl-3">
                <a class="nav-link" href="#">Compare</a>
            </li>
            <li class="nav-item pl-3">
                <a class="nav-link" href="#">Somos Ond4pp</a>
            </li>
            <li class="nav-item pl-3">
                <a class="nav-link disabled" href="#">Junte-se a Nós ;) </a>
            </li>

        </ul>

    </div>
    <ul class="navbar-nav ml-auto d-flex aligin-items-center">
        <form class="form-inline my-2 my-lg-0 pl-3">
            <input class="form-control mr-sm-2" type="pesquisa" placeholder="Pesquisa" aria-label="Pesquisa">
            <button class="btn btn-outline-success my-2 my-sm-1" type="submit">Pesquisa</button>
        </form>
    </ul>
</nav>
<h1>OND4PP</h1>