<nav id="nav-bar-menu" class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: #FFFBDC">
    
    <a class="navbar-brand font-weight-bold roboto" href="#">
        <h2>ONDA</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse roboto" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex aligin-items-center ">
            <li class="nav-item ">
                <a class="nav-link ml-5 pl-5" routerLink="/cadastrar">AVALIE</a>
            </li>
            <li class="nav-item ml-5 pl-5">
                <a class="nav-link" href="#empresas">EMPRESAS</a>
            </li>
            <li class="nav-item ml-5 pl-5">
                <a class="nav-link" href="#equipe">EQUIPE</a>
            </li>
            <li class="nav-item ml-5 pl-5">
                <a class="nav-link" href="#faleconosco">FALE CONOSCO</a>
            </li>
            <li class="nav-item ml-5 pl-5">
                <a class="nav-link" routerLink="/entrar" href="#">ENTRAR</a>
            </li>
        </ul>
    </div>
</nav>