<footer class="page-footer font-small pt-4" style="background-color: #FFFBDC">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://pt-br.facebook.com/" target="_blank" class="icoFacebook">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="icoInstagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="footer-copyright text-center pb-3">
                <span > Todos os direitos reservados: OndaApp </span>
            </div>
        </div>

    </div>
</footer>