ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}
.fa-brands{
    font-size: 35pt;
    color: black;
    padding: 10px;
}
.fa-brands:hover{
    color: #148D95;
}
