<footer class="page-footer font-small pt-4" style="background-color: #FFFBDC">
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row d-flex justify-content-center">

            <a href="https://pt-br.facebook.com/" target="_blank" class="icoFacebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="icoInstagram">
                <i class="fa-brands fa-instagram"></i>
            </a>

        </div>
        
        <div class="row d-flex justify-content-center">
            <span>Todos os direitos reservados: Rede Onda </span>
        </div>
    </div>
</footer>